@model IEnumerable<MVC_FrontEnd.Areas.Server.Models.ServerSimpleModel>


                        <div class="tab-pane fade" id="link12">
                        <!--START SERVER LIST-->
                        <div class="main-wraper">
                            <h4 class="main-title">Server list</h4>
                            <div class="dept-info">

                                <ul>


@if (Model.Count() > 0 && Model.ToList()[0].Id < 0)
{
    <div class="center">The service is temporarily unavailable</div>
}
else if (Model.Count() == 0)
{
    <div>Server list is empty</div>
}
else
{
    @foreach (var item in Model)
    {
        <li key={servers.id.toString()}>
            <h6><a asp-area="" asp-controller="" asp-action="">@item.Name</a></h6>
            <span>Online <i>65/70</i> | Address: <i>item.Ip:item.Port</i> | Status: <i>Online</i> </span>
        </li>
    }
}


                                </ul>
                            </div>
                        </div>
                        <!--FINISH SERVER LIST-->



                    </div>