@model IEnumerable<MVC_FrontEnd.Areas.Group.Models.GroupSimpleModel>



                    <!-- GROUPS START-->
                    <div class="tab-pane fade" id="link13">



                        <div class="main-wraper">
                            <h4 class="main-title"><i class=""> <svg class="feather feather-users" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="18" width="18" xmlns="http://www.w3.org/2000/svg"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle r="4" cy="7" cx="9"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg></i> Groups</h4>

                            <div class="row col-xs-6">



    @if (Model.Count() > 0 && Model.ToList()[0].Id < 0)
                                {
                                    <div class="center">The service is temporarily unavailable</div>
                                }
                                else if (Model.Count() == 0)
                                {
                                    <div>Group list is empty</div>
                                }
                                else
                                {
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-lg-3 col-md-4 col-sm-4">
                                            <div class="group-box">
                                                <figure><img alt="" src="~/data/groups/@item.Id/small_logo.jpg"></figure>
                                                <a title="" href="#">@item.Name</a>
                                                <span>125M Members</span>
                                                <button>Join group</button>
                                            </div>
                                        </div>
                                    }
                                }


                                
</div>
                        </div>
                    </div>