<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Cyber Player | Social Gaming Network</title>
    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="~/css/main.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/color.css">
    <link rel="stylesheet" href="~/css/responsive.css" />
    <link rel="stylesheet" href="~/css/CustomStyleRenew.css">


</head>
<body>

    <header class="">
        <div class="topbar stick">
            <div class="logo"><img src="/images/logo.png" alt=""><span>Cyber Player</span></div>

            <div class="searches">
                <form method="post">
                    <input type="text" placeholder="Search...">
                    <button type="submit"><i class="icofont-search"></i></button>
                </form>
            </div>



            <ul class="web-elements">


                <li>
                    <div class="user-dp">
                        <a href="profile-page2.html" title="">
                            <img alt="" src="images/resources/user.jpg">
                            <div class="name">
                                <h4>Dmitrij Hopkins</h4>
                            </div>
                        </a>
                    </div>
                </li>

                <li>
                    <div class="user-dp">
                        <a href="profile-page2.html" title="">
                            <img alt="" src="images/resources/user.jpg">
                            <div class="name">
                                <h4>Dmitrij Hopkins</h4>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>

        </div>

    </header>

    <section>
        <div class="white-bg">
            <div class="container-fluid">
                <div class="menu-caro">
                    <div class="row">

                        <div class="col-lg-4"></div>


                        <div class="col-lg-4">
                            <div class="page-caro">
                                <div class="link-item">
                                    <a class="active" href="/home" title="">
                                        <i class="">
                                            <svg class="feather feather-zap" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2" /></svg>
                                        </i>
                                        <p>Home</p>
                                    </a>
                                </div>
                                <div class="link-item">
                                    <a asp-area="Game" asp-controller="Home" asp-action="Index" title="">
                                        <i class="">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-youtube"><path d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z"></path><polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02"></polygon></svg>
                                        </i>
                                        <p>Games</p>
                                    </a>
                                </div>
                                <div class="link-item">
                                    <a asp-area="GameServer" asp-controller="Home" asp-action="Index" title="">
                                        <i class="">
                                            <svg class="feather feather-airplay" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1" /><polygon points="12 15 17 21 7 21 12 15" /></svg>
                                        </i>
                                        <p>Servers</p>
                                    </a>
                                </div>
                                <div class="link-item">
                                    <a asp-area="Group" asp-controller="Home" asp-action="Index" title="">
                                        <i class="">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path></svg>
                                        </i>
                                        <p>Groups</p>
                                    </a>
                                </div>
                                <div class="link-item">
                                    <a href="blog.html" title="">
                                        <i class=""><svg class="feather feather-layout" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"><rect ry="2" rx="2" height="18" width="18" y="3" x="3" /><line y2="9" x2="21" y1="9" x1="3" /><line y2="9" x2="9" y1="21" x1="9" /></svg></i>
                                        <p>Wikis</p>
                                    </a>
                                </div>
                                <div class="link-item">
                                    <a asp-area="Group" asp-controller="Home" asp-action="Index" title="">
                                        <i class="">
                                            <svg class="feather feather-users" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" /><circle r="4" cy="7" cx="9" /><path d="M23 21v-2a4 4 0 0 0-3-3.87" /><path d="M16 3.13a4 4 0 0 1 0 7.75" /></svg>
                                        </i>
                                        <p>Groups</p>
                                    </a>
                                </div>
                                <div class="link-item">
                                    <a href="groups.html" title="">
                                        <i class="">
                                            <svg class="feather feather-users" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" /><circle r="4" cy="7" cx="9" /><path d="M23 21v-2a4 4 0 0 0-3-3.87" /><path d="M16 3.13a4 4 0 0 1 0 7.75" /></svg>
                                        </i>
                                        <p>Hidden</p>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4"></div>

                    </div>
                </div>
            </div>
        </div>
    </section><!-- carousel menu -->


    <section>
        <div class="gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="page-contents" class="row merged20">

                            <!-- Zone left blocks START -->
                            <div class="col-lg-3">
                                <aside class="sidebar static left">
                                    <div class="widget">
                                        <span><i class="icofont-globe"></i> Sponsored</span>
                                        <ul class="sponsors-ad">
                                            <li>
                                                <figure><img alt="" src="images/resources/sponsor.jpg"></figure>
                                                <div class="sponsor-meta">
                                                    <h5><a title="" href="#">IQ Options Broker</a></h5>
                                                    <a target="_blank" title="" href="#">www.iqvie.com</a>
                                                </div>
                                            </li>
                                            <li>
                                                <figure><img alt="" src="images/resources/sponsor2.jpg"></figure>
                                                <div class="sponsor-meta">
                                                    <h5><a title="" href="#">BM Fashion Designer</a></h5>
                                                    <a target="_blank" title="" href="#">www.abcd.com</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="widget">
                                        <h4 class="widget-title">Your Groups</h4>
                                        <ul class="ak-groups">
                                            <li>
                                                <figure><img alt="" src="images/resources/your-group1.jpg"></figure>
                                                <div class="your-grp">
                                                    <h5><a title="" href="group-detail.html">Good Group</a></h5>
                                                    <a title="" href="#"><i class="icofont-bell-alt"></i>Notifilactions <span>13</span></a>
                                                    <a class="promote" title="" href="group-feed.html">view feed</a>
                                                </div>
                                            </li>
                                            <li>
                                                <figure><img alt="" src="images/resources/your-group2.jpg"></figure>
                                                <div class="your-grp">
                                                    <h5><a title="" href="group-detail.html">E-course Group</a></h5>
                                                    <a title="" href="#"><i class="icofont-bell-alt"></i>Notifilactions <span>13</span></a>
                                                    <a class="promote" title="" href="group-feed.html">view feed</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="widget">
                                        <h4 class="widget-title">Suggested Group</h4>
                                        <div class="sug-caro owl-carousel owl-theme owl-loaded owl-responsive-1000">


                                            <div class="owl-stage-outer">
                                                <div class="owl-stage" style="transform: translate3d(-792px, 0px, 0px); transition: all 0s ease 0s; width: 1584px;">
                                                    <div class="owl-item cloned" style="width: 244px; margin-right: 20px;">
                                                        <div class="friend-box">
                                                            <figure>
                                                                <img alt="" src="images/resources/sidebar-info.jpg">
                                                                <span>Members: 505K</span>
                                                            </figure>
                                                            <div class="frnd-meta">
                                                                <img alt="" src="images/resources/frnd-figure2.jpg">
                                                                <div class="frnd-name">
                                                                    <a title="" href="#">Social Research</a>
                                                                    <span>biolabest</span>

                                                                </div>
                                                                <a class="main-btn2" href="#" title="">Join Community</a>
                                                            </div>
                                                        </div>
                                                    </div><div class="owl-item cloned" style="width: 244px; margin-right: 20px;">
                                                        <div class="friend-box">
                                                            <figure>
                                                                <img alt="" src="images/resources/sidebar-info2.jpg">
                                                                <span>Members: 505K</span>
                                                            </figure>
                                                            <div class="frnd-meta">
                                                                <img alt="" src="images/resources/frnd-figure3.jpg">
                                                                <div class="frnd-name">
                                                                    <a title="" href="#">Bio Labest Group</a>
                                                                    <span>biolabest</span>

                                                                </div>
                                                                <a class="main-btn2" href="#" title="">Join Community</a>
                                                            </div>
                                                        </div>
                                                    </div><div class="owl-item" style="width: 244px; margin-right: 20px;">
                                                        <div class="friend-box">
                                                            <figure>
                                                                <img alt="" src="images/resources/sidebar-info.jpg">
                                                                <span>Members: 505K</span>
                                                            </figure>
                                                            <div class="frnd-meta">
                                                                <img alt="" src="images/resources/frnd-figure2.jpg">
                                                                <div class="frnd-name">
                                                                    <a title="" href="#">Social Research</a>
                                                                    <span>biolabest</span>

                                                                </div>
                                                                <a class="main-btn2" href="#" title="">Join Community</a>
                                                            </div>
                                                        </div>
                                                    </div><div class="owl-item animated owl-animated-in fadein active" style="width: 244px; margin-right: 20px;">
                                                        <div class="friend-box">
                                                            <figure>
                                                                <img alt="" src="images/resources/sidebar-info2.jpg">
                                                                <span>Members: 505K</span>
                                                            </figure>
                                                            <div class="frnd-meta">
                                                                <img alt="" src="images/resources/frnd-figure3.jpg">
                                                                <div class="frnd-name">
                                                                    <a title="" href="#">Bio Labest Group</a>
                                                                    <span>biolabest</span>

                                                                </div>
                                                                <a class="main-btn2" href="#" title="">Join Community</a>
                                                            </div>
                                                        </div>
                                                    </div><div class="owl-item cloned animated owl-animated-in fadein" style="width: 244px; margin-right: 20px;">
                                                        <div class="friend-box">
                                                            <figure>
                                                                <img alt="" src="images/resources/sidebar-info.jpg">
                                                                <span>Members: 505K</span>
                                                            </figure>
                                                            <div class="frnd-meta">
                                                                <img alt="" src="images/resources/frnd-figure2.jpg">
                                                                <div class="frnd-name">
                                                                    <a title="" href="#">Social Research</a>
                                                                    <span>biolabest</span>

                                                                </div>
                                                                <a class="main-btn2" href="#" title="">Join Community</a>
                                                            </div>
                                                        </div>
                                                    </div><div class="owl-item cloned" style="width: 244px; margin-right: 20px;">
                                                        <div class="friend-box">
                                                            <figure>
                                                                <img alt="" src="images/resources/sidebar-info2.jpg">
                                                                <span>Members: 505K</span>
                                                            </figure>
                                                            <div class="frnd-meta">
                                                                <img alt="" src="images/resources/frnd-figure3.jpg">
                                                                <div class="frnd-name">
                                                                    <a title="" href="#">Bio Labest Group</a>
                                                                    <span>biolabest</span>

                                                                </div>
                                                                <a class="main-btn2" href="#" title="">Join Community</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style=""><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div></div></div>
                                        </div>
                                    </div>
                                    <div class="widget">
                                        <h4 class="widget-title">Ask Research Question?</h4>
                                        <div class="ask-question">
                                            <i class="icofont-question-circle"></i>
                                            <h6>Ask questions in Q&amp;A to get help from experts in your field.</h6>
                                            <a class="ask-qst" href="#" title="">Ask a question</a>
                                        </div>
                                    </div>
                                    <div class="widget">
                                        <h4 class="widget-title">Explor Events <a class="see-all" href="#" title="">See All</a></h4>
                                        <div class="rec-events bg-purple">
                                            <i class="icofont-gift"></i>
                                            <h6><a title="" href="">BZ University good night event in columbia</a></h6>
                                            <img alt="" src="images/clock.png">
                                        </div>
                                        <div class="rec-events bg-blue">
                                            <i class="icofont-microphone"></i>
                                            <h6><a title="" href="">The 3rd International Conference 2020</a></h6>
                                            <img alt="" src="images/clock.png">
                                        </div>
                                    </div>
                                    <div class="widget">
                                        <h4 class="widget-title">Group Terms</h4>
                                        <div class="grop-rules">
                                            <p>
                                                Hi! To ensure that this is a great place for everyone to have a wondefull time, we have some rules. Breaking them will result in a ban from the group.
                                            </p>
                                            <ol>
                                                <li><i class="icofont-dotted-right"></i> Be positive! Respect and help other viewers</li>
                                                <li><i class="icofont-dotted-right"></i> No insults, aggravations or any other bad languag</li>
                                                <li><i class="icofont-dotted-right"></i> No self promotions</li>
                                                <li><i class="icofont-dotted-right"></i> Avoid political or religious discussions</li>
                                                <li><i class="icofont-dotted-right"></i> No comment spamming</li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="widget stick-widget" style="">
                                        <h4 class="widget-title">Featured Universities <a class="see-all" href="#" title="">See All</a></h4>
                                        <ul class="featured-comp">
                                            <li>
                                                <a href="#" title="" data-toggle="tooltip" data-original-title="Color Hands inc"><img src="images/resources/company1.png" alt=""></a>
                                            </li>
                                            <li>
                                                <a href="#" title="" data-toggle="tooltip" data-original-title="Macrosoft inc"><img src="images/resources/company2.png" alt=""></a>
                                            </li>
                                            <li>
                                                <a href="#" title="" data-toggle="tooltip" data-original-title="EBM inc"><img src="images/resources/company3.png" alt=""></a>
                                            </li>
                                            <li>
                                                <a href="#" title="" data-toggle="tooltip" data-original-title="Boogle inc"><img src="images/resources/company4.png" alt=""></a>
                                            </li>
                                            <li>
                                                <a href="#" title="" data-toggle="tooltip" data-original-title="Color Hands inc"><img src="images/resources/company5.png" alt=""></a>
                                            </li>
                                            <li>
                                                <a href="#" title="" data-toggle="tooltip" data-original-title="Macrosoft inc"><img src="images/resources/company6.png" alt=""></a>
                                            </li>
                                            <li>
                                                <a href="#" title="" data-toggle="tooltip" data-original-title="EBM inc"><img src="images/resources/company7.png" alt=""></a>
                                            </li>
                                            <li>
                                                <a href="#" title="" data-toggle="tooltip" data-original-title="Boogle inc"><img src="images/resources/company8.png" alt=""></a>
                                            </li>
                                        </ul>
                                    </div><!-- feature universites logos -->
                                </aside>
                            </div>
                            <!-- Zone left blocks END -->



                            @RenderBody()



            </div>
        </div>
        </div>
        </div>
        </div>
    </section>

    <figure class="bottom-mockup"><img src="/images/footer.png" alt=""></figure>
    <div class="bottombar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="">CyberPlayer.Club &copy; 2022 copyright All rights reserved.</span>
                </div>
            </div>
        </div>
    </div><!-- bottombar -->


    <script src="~/js/main.min.js"></script>
    <script src="~/js/sparkline.js"></script>
    <script src="~/js/chart.js"></script>
    <script src="~/js/script.js"></script>

</body>
</html>